<%- include(`header`) %>

<div class="adminbox">

    <form action="/admin/addproduct" method="POST" class="adminprod">

        <h1> Add new product </h1>

        <% if (typeof errorBox != `undefined`) { %>
            <% errorBox.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% }) %>
        <% } %>
    
        <input type="text" name="prodname" placeholder="Product name">
        <input type="text" name="prodprice" placeholder="Price">
        <input type="text" name="proddesc" placeholder="Description">

        <button type="submit" class="tryagain3"> Submit </button>

    </form>

</div>

<%- include(`footer`) %>