<%- include(`header`) %>

<div class="itemlist">

   <h1> My Cart </h1>

  <% userCart.map(item => { %>
       <div class="aytem1">
           <div class="pricename"> <h1> <%= item.name %> </h1> </div>

           <div class="editdelete"> <form action="/deleteitemcart/<%=item._id%>" method="POST"> 
               <button type="submit" class="tryagain4"> Delete </button>
           </form></div>
       </div>
  <% }) %>


</div>

<%- include(`footer`) %>
