<%- include(`header`) %>

<div class="contactbox">
    <h2> Oishi FoodHub </h2> 
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est cupiditate assumenda maxime ea, amet saepe? Nostrum eum iste dolores ea odio omnis cum. Molestias, enim dicta impedit aperiam nihil atque odit minus illo necessitatibus eum unde! Officia ducimus nesciunt ab unde tempore, accusamus voluptate fuga.</p>
</div>

<%- include(`footer`) %>