<%- include(`header`) %>

<h1 class="products"> Products</h1>

<div class="prodbox">
    <div class="item1">
        <img src="https://cdn.pixabay.com/photo/2019/09/22/09/40/pie-4495589__340.png" alt="">
        <p>Cake</p> <p>Items left : 2</p>
    </div>
    <div class="item1">
        <img src="https://cdn.pixabay.com/photo/2019/09/22/09/40/pie-4495589__340.png" alt="">
        <p>Cake</p> <p>Items left : 1</p>
    </div>
    <div class="item1">
        <img src="https://cdn.pixabay.com/photo/2019/09/22/09/40/pie-4495589__340.png" alt="">
        <p>Cake</p> <p>Items left : 5</p>
    </div>
    <div class="item1">
        <img src="https://cdn.pixabay.com/photo/2019/09/22/09/40/pie-4495589__340.png" alt="">
        <p>Cake</p> <p>Items left : 7</p>
    </div>
    
</div>



<%- include(`footer`) %>