<%- include(`headerlogin`) %>

<div class="registerbox">

    <form action="/signup" method="post" class="regform">

        <h1> Fresh foods ready to deliver. </h1>
 
        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email">
            <label for="floatingInput">Email </label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          
        <button type="submit" class="signupbtn"> Sign up </button>        
    </form>


    

</div>

<%- include(`footer`) %>