@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --Logo: 'Ubuntu', sans-serif;
    --small: 'Montserrat', sans-serif;
    --read: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}

/* navbar */

.navmain {
    display: flex;
    background-color: rgb(0, 0, 0);
}

.navlogo {
    flex: 1;
    display: flex;
    justify-content: center;
    color: white;
    font-family: var(--Logo);
}

.navlinks {
    flex: 2;
    margin: auto;
}

.navlinks ul {
    display: flex;
    justify-content: flex-end;
    margin: auto 2rem;
}

.navlinks ul li {
    list-style: none;
    margin: 0rem 3rem;
}

.navlinks ul li a {
    text-decoration: none;
    font-family: var(--small);
    color: white;
}

/* footer EJS */

.footer {
    display: flex;
    justify-content: center;
    font-family: var(--small);
    background-color: black;
    color: black;
    padding: 0.5rem 0rem;
    margin: auto;
}

.footer h4 {
    font-size: 1.3rem;
    text-align: center;
}

/* login EJS */

.login h1 {
    font-family: var(--Logo);
    text-align: center;
}

.loginbox {
    display: flex;
}

.logindesign {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10rem 0rem;
    background-image: url(https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.logindesign h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: auto;
    color: black;
}

.loginform {
    padding: 2rem 4rem;
    flex: 1;    
    margin: auto;
}

.formers {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 5rem 4rem;
    box-shadow: 0 8px 6px -6px black;
    
}

.login p {
    margin-top: 0.5rem;
    font-family: var(--small);
    font-size: 0.8rem;
}

input {
    padding: 0.5rem;
    margin: 0.4rem 0rem;
    border-radius: 5px;
    border: none;
    font-family: var(--small);
    background-color: gainsboro;
    color: black;
}

.loginbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
}

/* register EJS */

.registerbox {
    display: flex;
    justify-content: center;
    padding: 5rem 10rem;
}

.regform {
    display: flex;
    flex-direction: column;
    padding: 5rem 6rem;
    background-color: white;
    border-radius: 10px;
}

.regform h1 {
    font-family: var(--small);
    font-weight: normal;
    text-align: center;
}

.signupbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
}

/* password and email EJS */

.box, .box2, .box3 {
    padding: 15rem 5rem;
    text-align: center;
    font-family: var(--small);
}

.tryagain {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
    border-radius: 5px;
}

.tryagain a {
    text-decoration: none;
}

/* home EJS */

.products {
    text-align: center;
    font-family: var(--Logo);
    margin-top: 3rem;
}

.prodbox {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5rem 2rem;
}

.prodbox .item1 {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

.prodbox .item1 p {
    font-family: var(--read);
}

.prodbox .item1 img {
    width: 80%;
}

.logoutbtn a {
    text-decoration: none;
}

.logoutbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
}

/* contact EJS */

.contactbox {
    padding: 12rem 5rem;
}

.contactbox h2 {
    font-family: var(--Logo);
    margin-bottom: 2rem;
    font-size: 3rem;
}

.contactbox p {
    font-family: var(--read);
}

@media screen and (max-width: 1000px) {
    .logindesign h1 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 900px) {

    .logindesign h1 {
        font-size: 7vw;
    }

    .loginbox {
        flex-direction: column;
    }

    .logindesign {
        order: 1;
    }

    .loginform {
        order: 2;
    }
}

@media screen and (max-width: 800px) {

    .registerbox {
        padding: 3rem 6rem;
    }

}

@media screen and (max-width: 700px) {

    .registerbox {
        padding: 4rem 3rem;
    }

}

@media screen and (max-width: 550px) {

    .registerbox {
        padding: 5rem 2rem;
    }

    .regform {
        padding: 3rem 4rem;
    }

    .contactbox {
        padding: 8rem 2rem;
    }

    .logindesign {
        padding: 7rem 0rem;
    }

    .logindesign h1 {
        font-size: 10vw;
    }

    .formers {
        padding: 0rem 0rem;
    }
    .loginform {
        padding: 2rem 1rem;
    }

}

@media screen and (max-width: 450px) {

    .registerbox {
        padding: 4rem 2rem;
    }

    .regform {
        padding: 4rem 2rem;
    }

}


