@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --Logo: 'Ubuntu', sans-serif;
    --small: 'Montserrat', sans-serif;
    --read: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}

a {
    color: black;
}

/* navbar */

.navmain {
    display: flex;
}

.navlogo {
    flex: 1;
    display: flex;
    justify-content: center;
    color: white;
    font-family: var(--Logo);
}

.navlinks {
    flex: 2;
    margin: auto;
}

.navlinks ul {
    display: flex;
    justify-content: flex-end;
    margin: auto 2rem;
}

.navlinks ul li {
    list-style: none;
    margin: 0rem 3rem;
}

.navlinks ul li a {
    text-decoration: none;
    font-family: var(--small);
    color: white;
}

/* footer EJS */

.footer {
    display: flex;
    justify-content: center;
    font-family: var(--small);
    color: black;
    padding: 1rem 0rem;
    background-color: aquamarine;
}

.footer h5 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}

/* login EJS */

.login h1 {
    font-family: var(--Logo);
    text-align: center;
}

.loginbox {
    display: flex;
    background-color: aquamarine;
}

.logindesign {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10rem 0rem;
    /* background-image: url(https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg);
    background-repeat: no-repeat;
    background-size: cover;  */
}

.logindesign h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: auto;
    color: black;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.loginform {
    padding: 2rem 4rem;
    flex: 1;    
    margin: auto;
}

.formers {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 5rem 4rem;
    box-shadow: 0 8px 6px -6px black;
    
}

.login p {
    margin-top: 0.5rem;
    font-family: var(--small);
    font-size: 0.8rem;
}

.login p a {
    color: blue;
}

input {
    padding: 0.5rem;
    margin: 0.4rem 0rem;
    border-radius: 5px;
    border: none;
    font-family: var(--small);
    background-color: gainsboro;
    color: black;
}

.loginbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
    transition-property: all;
    transition-duration: 0.5s;
}

.loginbtn:hover {
    background-color: rgba(127, 255, 212,0.5);
}

/* register EJS */

.registerbox {
    display: flex;
    justify-content: center;
    padding: 5rem 10rem;
}

.regform {
    display: flex;
    flex-direction: column;
    padding: 5rem 6rem;
    background-color: white;
    border-radius: 10px;
}

.regform h1 {
    font-family: var(--small);
    font-weight: normal;
    text-align: center;
}

.signupbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
}

.signupbtn a {
    text-decoration: none;
}

.signupbtn a:hover {
    color: black;
}


/* password and email EJS */

.box, .box2, .box3 {
    padding: 15rem 5rem;
    text-align: center;
    font-family: var(--small);
}

.tryagain {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
}

.tryagain:hover {
    background-color: rgba(127, 255, 212,0.5);
}

.tryagain2 {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-bottom: 1rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
}

.tryagain2:hover {
    background-color: rgba(127, 255, 212,0.5);
}

.tryagain3 {
    padding: 0.5rem 1rem; 
    background-color: white;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
}

.tryagain a {
    text-decoration: none;
}

/* home EJS */

.ultrabox {
    background-color: aquamarine;
    padding: 2rem 0rem;
}

.mainmain {
    background-color: aquamarine;
}

.products {
    text-align: center;
    font-family: var(--Logo);
    padding-top: 3rem;
}

.prodbox {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2rem 2rem;
}

.prodbox .item1 {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
}

.prodbox .item1:hover {
    transform: scale(1.1);
}

.prodbox .item1 p {
    font-family: var(--read);
}

.prodbox .item1 img {
    width: 70%;
}

.logoutbtn a {
    text-decoration: none;
}

.logoutbtn {
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-top: 1rem;
}

.pagi {
    display: flex;
    justify-content: center;
}

.pagi a {
    text-decoration: none;
    margin: 0rem 0.5rem;
    font-size: 1rem;
    color: black;
}

/* .pagi form {
    margin: 0rem 0.5rem;
}

.pagi form button {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;

} */

/* admin EJS */

.adminbox {
    padding: 10rem 4rem;
    background-color: aquamarine;
}

.adminprod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.adminprod h1 {
    font-family: var(--Logo);
    margin: 1rem 0rem;
}

.adminprod input {
    background-color: white;
    width: 100%;
    margin: 0.3rem auto;
    font-family: var(--Logo);
}

.adminbox button {
    width: 100px;
    margin: 1rem auto;
    font-family: var(--small);
}

/* adminprodlist EJS  */

.itemlist {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10rem 2rem;
    background-color: aquamarine;
}

.itemlist h1 {
    text-align: center;
    font-family: var(--small);
    margin-bottom: 1rem;
}

.itemlist .aytem1 {
    display: flex;
    background-color: burlywood;
    padding: 0.5rem 0rem;
    margin: -0.1rem 0rem;
    background-color: white;
    border-bottom: solid 2px grey;
}

.itemlist .aytem1 .pricename {
    flex: 2;
    display: flex;
    justify-content: left;
    margin: auto;
    margin-left: 3rem;
    font-family: var(--Logo);
}

.itemlist .aytem1 .pricename h1 {
    margin: auto 2rem; 
}

.itemlist .aytem1 .priceprice {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 3rem;
    font-family: var(--read);
}

.itemlist .aytem1 .priceprice p {
    margin: auto;
}

.editdelete {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto;
}

.editdelete button {
    margin: auto;
}

.tryagain4 {
    display: flex;
    padding: 0.5rem 1rem; 
    background-color: aquamarine;
    border: none;
    outline: none;  
    font-family: var(--small);
    margin-bottom: 1rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
    justify-content: center;
}



/* contact EJS */

.contactbox {
    padding: 12rem 5rem;
    background-color: aquamarine;
}

.contactbox h2 {
    font-family: var(--Logo);
    margin-bottom: 2rem;
    font-size: 3rem;
}

.contactbox p {
    font-family: var(--read);
}

/* productshow EJS */

.showbox {
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
    justify-content: left;
    background-color: aquamarine;
}

.showbox h1 {
    font-family: var(--Logo);
    margin: 2rem 0rem;
    font-size: 4rem;
}

.showbox h3 {
    font-family: var(--small);
}

.showbox p {
    margin: 4rem 0rem;
    font-size: 1.5rem;
    font-family: var(--read);
}

/* cart EJS */

.shoppingbox {
    display: flex;
    padding: 14rem 2rem;
}

.itemname {
    flex: 1;
    display: flex;
    justify-content: center;
}

.itemprice {
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: var(--small);
}

/* carts NEW */

.cartitemscard {
    background-color: white;
    margin: -0.1rem 0rem;
    border-bottom: solid 2px grey;
    display: flex;
    justify-content: space-between;
}

.cartitemname {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cartitemname h1 {
    margin: auto;
}

.cartitemprice {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cartitemprice p {
    margin: 1rem auto;
}

.cartitemqty {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cartitemqty p {
    margin: 1rem auto;
}

.cartitemcount {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cartitemcount p {
    margin: 1rem 0.5rem;
}

.minus {
    display: flex;
    align-items: center;
}

.plus {
    display: flex;
    align-items: center;
}

.taebtns {
    width: 30px;
    border: none;
    outline: none;
    background-color: aquamarine;
    border-radius: 5px;
}

.totalbar h1 {
    padding-top: 3rem;
}

.totalbar button {
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: var(--small);
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    transition-property: all;
    transition-duration: 0.2s;
}

.totalbar button:hover {
    background-color: rgba(107, 100, 100, 0.9);
}

/* admin orders */

.orderbox {
    min-height: 85vh;
    background-color: aquamarine;
    padding: 1rem 0rem;
}

.orderbox h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0rem 3rem 0rem;
}

.ordercard {
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
}

.ordercard p {
    margin: 0;
}

.ordercard .orderby {
    padding-top: 1rem;
}

@media screen and (max-width: 1400px) {

    .adminprod input {
        width: 50%;
    }

}

@media screen and (max-width: 1000px) {
    .logindesign h1 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 900px) {

    .logindesign h1 {
        font-size: 7vw;
    }

    .loginbox {
        flex-direction: column;
    }

    .logindesign {
        order: 1;
    }

    .loginform {
        order: 2;
    }

    
}

@media screen and (max-width: 800px) {

    .registerbox {
        padding: 3rem 6rem;
    }

    .itemlist {
        padding: 5rem 2rem;
    }

    .itemlist .aytem1 {
        justify-content: center;
        flex-direction: column;
        margin: 0.5rem 0rem;
        padding: 2rem 4rem;
    }

    .itemlist .aytem1 .pricename, .itemlist .aytem1 .priceprice {
        margin: 1rem auto;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {

    .registerbox {
        padding: 4rem 3rem;
    }

    .mainmain {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .showbox {
        padding: 2rem;
    }

    .showbox h1 {
        font-size: 10vw;
    }

    .showbox p {
        font-size: 5vw;
    }

    .adminprod input {
        width: 100%;
    }

    .prodbox .item1 {
        padding: 1rem 3rem;
    }

}

@media screen and (max-width: 550px) {

    .registerbox {
        padding: 5rem 2rem;
    }

    .regform {
        padding: 3rem 4rem;
    }

    .contactbox {
        padding: 8rem 2rem;
    }

    .logindesign {
        padding: 7rem 0rem;
    }

    .logindesign h1 {
        font-size: 10vw;
    }

    .formers {
        padding: 0rem 0rem;
    }
    .loginform {
        padding: 2rem 1rem;
    }

}

@media screen and (max-width: 450px) {

    .registerbox {
        padding: 4rem 2rem;
    }

    .regform {
        padding: 4rem 2rem;
    }

}


.h1 {
    margin: auto 1rem;
    font-family: var(--Logo);
}

.mainmain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

